a {
  display: block;
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 5.5rem;
  background: #aa0601;
  .nav {
    display: flex;
    li {
      margin-left: 4rem;
      a {
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: white;
      }
    }
  }
}

.banner {
  height: 304px;
  background: red;
  position: relative;
  margin-bottom:5rem;
  h1{
      position: absolute;
      bottom:0;
      font-size: 4rem;
      line-height: 5rem;

  }
}

.faq{
  margin-bottom:19rem;
  h2{
    font-size: 2rem;
    line-height: 3.93rem;
  }
  .question{
    font-size: 1.25rem;
    line-height: 1.43rem;
    margin-bottom:1rem;
  }
  .answer{
    padding-left:5.93rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom:2.5rem
  } 
}

footer{
  background: #aa0601;
  padding: 3rem 0 1.75rem 0;
  color: #fff;
  .nav-and-media{
    display: flex;
    justify-content: space-between;
    .nav{
      display: flex;
      li{
        margin-right:3rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
  .contract{
    font-size:2.25rem;
    line-height: 3.375rem;
    border-bottom: 1px solid #fff;
    li{
      display: flex;
      margin-bottom:1rem;
    }
  }
  .copyright{
    display: flex;
    justify-content: space-between;
    .copy{
      display: flex;
    }
    .terms{
      display: flex;
      li{
        margin-left:3.875rem;
      }
    }
  }

}


