footer {
  background: #aa0601;
  padding: 3rem 0 1.75rem 0;
  color: #fff;
}

footer .nav-and-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

footer .nav-and-media .nav {
  display: flex;
}

footer .nav-and-media .nav li {
  margin-right: 3rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

footer .nav-and-media .media {
  display: flex;
}

footer .nav-and-media .media a {
  max-width: 24px;
  margin-left: 1.5rem;
}

footer .contact {
  font-size: 2.25rem;
  line-height: 3.375rem;
  border-bottom: 1px solid #fff;
}

footer .contact li {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

footer .contact li:first-child img {
  width: 2.375rem;
  margin-right: 1.25rem;
}

footer .contact li:last-child img {
  width: 2.75rem;
  margin-right: 0.875rem;
}

footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

footer .copyright .copy {
  display: flex;
  align-items: center;
}

footer .copyright .copy img {
  margin-right: 1.125rem;
}

footer .copyright .terms {
  display: flex;
}

footer .copyright .terms li {
  margin-left: 3.875rem;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 2.5rem 2.4375rem;
  }
  footer .contact {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
  footer .contact li:first-child {
    margin-bottom: 0.6875rem;
  }
  footer .contact li:first-child img {
    width: 1.125rem;
    margin-right: 0.9375rem;
  }
  footer .contact li:last-child {
    margin-right: 1.5625rem;
  }
  footer .contact li:last-child img {
    width: 1.75rem;
    margin-right: 0.625rem;
  }
  footer .copyright {
    line-height: 1.5rem;
    margin-top: 1.5625rem;
  }
  footer .copyright img {
    display: none;
  }
  footer .copyright .terms {
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 1.5rem 1rem 1.5rem 1.125rem;
  }
  footer .nav-and-media {
    position: absolute;
    right: 1rem;
  }
  footer .nav-and-media .nav {
    display: none;
  }
  footer .contact {
    font-size: 1rem;
  }
  footer .contact li:first-child {
    margin-bottom: 0.4375rem;
  }
  footer .contact li:first-child img {
    width: 0.875rem;
    margin-right: 0.4375rem;
  }
  footer .contact li:last-child img {
    width: 1rem;
    margin-right: 0.4375rem;
  }
  footer .copyright {
    align-items: flex-start;
    flex-flow: column;
    position: relative;
    margin-top: 1.3125rem;
  }
  footer .copyright .copy {
    margin-bottom: 0.4375rem;
  }
  footer .copyright .copy img {
    width: 2.875rem;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  footer .copyright .terms {
    flex-flow: column;
  }
  footer .copyright .terms li {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  footer .copyright .terms li:last-child {
    margin-bottom: 0;
  }
}
