footer {
  background: #aa0601;
  padding: 3rem 0 1.75rem 0;
  color: #fff;
  .nav-and-media {
    display: flex;
    justify-content: space-between;
    margin-bottom:1.5rem;
    .nav {
      display: flex;
      li {
        margin-right: 3rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    .media{
      display: flex;
      a{
        max-width:24px;
        margin-left:1.5rem;
      }
    }
  }
  .contact {
    font-size: 2.25rem;
    line-height: 3.375rem;
    border-bottom: 1px solid #fff;
    li {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      &:first-child img{
        width:2.375rem;
        margin-right:1.25rem
      }
      &:last-child img{
        width:2.75rem;
        margin-right:0.875rem
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:1rem;
    .copy {
      display: flex;
      align-items: center;
      img{
        margin-right:1.125rem;
      }
    }
    .terms {
      display: flex;
      li {
        margin-left: 3.875rem;
      }
    }
  }
}

@media screen and (max-width:992px){
  footer{
    padding:2.5rem 2.4375rem;
    .contact{
      font-size: 1.25rem;
      line-height: 1.875rem;
      li:first-child{
        margin-bottom:0.6875rem;
        img{
          width: 1.125rem;
          margin-right:0.9375rem;
        }
      }
      li:last-child{
        margin-right:1.5625rem;
        img{
          width: 1.75rem;
          margin-right:0.625rem;
        }
      }
    }
    .copyright{
      line-height: 1.5rem;
      margin-top:1.5625rem;
      img{
        display: none;
      }
      .terms{
        font-size: 0.875rem;
        line-height: 1.3125rem;
      }
    }
  }
}

@media screen and (max-width:767px){
  footer{
    padding:1.5rem 1rem 1.5rem 1.125rem;
    .nav-and-media{
      position: absolute;
      right: 1rem;
      .nav{
        display: none;
      }
    }
    .contact{
      font-size: 1rem;
      li:first-child{
        margin-bottom:0.4375rem;
        img{
          width:0.875rem;
          margin-right: 0.4375rem;
        }
      }
      li:last-child{
        img{
          width:1rem;
          margin-right: 0.4375rem;
        }
      }
    }
    .copyright{
      align-items: flex-start;
      flex-flow: column;
      position: relative;
      margin-top:1.3125rem;
      .copy{
        margin-bottom: 0.4375rem;
        img{
          width:2.875rem;
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;

        }
      }
      .terms{
        flex-flow: column;
        li{
          margin-left:0;
          margin-bottom: 0.5rem;
        }
        li:last-child{
          margin-bottom: 0;
        }
      }
    }

  }
}
