header {
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 5.5rem;
  background: $primary-color;
  .nav {
    display: flex;
    align-items: center;
    li {
      margin-left: 4rem;
      a {
        font-size: 1.25rem;
        line-height: 1.875rem;
        color: $layout-font-color;
      }
    }
  }
}

@media screen and (max-width:992px){
  header{
    padding:1.875rem 2.4375rem;
  }
}

@media screen and (max-width:767px){
  header{
    flex-flow: wrap;
    padding:0;
    .logo{
      max-width:3rem;
      margin:0.625rem auto;
    }
    .nav{
      width:100%;
      flex-flow: wrap;
      li{
        margin-left:0;
        width:50%;
        text-align: center;
        border:1px solid $layout-font-color;
        a{
          padding:0.5rem 0;
        }
      }
    }
  }
}