.faq-banner{
  margin-bottom: 5rem;
  @include pad{
    margin-bottom: 2.5rem;
  }
  @include mobile{
    margin-bottom: 1.5rem;
  }
  .container{
    ul{
      img{
        width:3.75rem;
        @include pad{
          width:3rem;
        }
        @include mobile{
          width: 1.5rem;
        }
      }
    }
  }
}
.faq {
  margin-bottom: 19rem;
  @include pad{
    padding:0 2.5rem;
    margin-bottom:6.625rem;
  }
  @include mobile{
    padding:0 1rem;
    margin-bottom: 3.5rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 3.93rem;
    margin-bottom:2.25rem;
    @include mobile{
      margin-bottom: 0.75rem;
      font-size: 1.25rem;
    }
  }
  .question {
    font-size: 1.25rem;
    line-height: 1.43rem;
    margin-bottom: 1rem;
    @include mobile{
      font-size: 1rem;
      margin-bottom:0.5rem;
    }
  }
  .answer {
    padding-left: 5.93rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
    @include pad{
      padding-left:3.75rem;
    }
    @include mobile{
      padding-left: 0;
      font-size: 0.875rem;
      margin-bottom: 1.25rem;
    }
  }
}
