.location-banner {
  height: 304px;
  background: url("../../images/qa.png") center center;
  margin-bottom: 1rem;
  .container {
    display: flex;
    align-items: flex-end;
    height: 100%;
    ul {
      display: flex;
      align-items: center;
      h1 {
        font-size: 4rem;
        line-height: 5rem;
        margin-right: 1.5rem;
      }
      img {
        width: 2.5rem;
      }
    }
  }
}

.location {
  margin-bottom: 17rem;
  label{
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 1.25rem;
  }
  .location-select{
    margin-bottom: 2rem;
    padding-left: 1.25rem;
    font-size: 1.25rem;
    width:324px;
    height: 45px;
  }
  .stores {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    &::after {
      content: "";
      width: 30.7%;
    }
    .store {
      width: 30.7%;
      margin-bottom: 2rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      &-name {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        line-height: 36px;
      }
      &-information {
        padding: 1rem 1.5rem;
        font-size: 1.25rem;
        line-height: 30px;
        li + li {
          margin-top: 0.5rem;
        }
        .tel::before {
          @include location-icon;
          top: 5px;
          background: url("../../images/icon-phone-black.svg") no-repeat center;
          background-size: contain;
        }
        .open-time::before {
          @include location-icon;
          top: 3px;
          background: url("../../images/icon-clock-black.svg") no-repeat center;
          background-size: 16px 16px;
        }
        .address::before {
          @include location-icon;
          top: 3px;
          background: url("../../images/icon-map.svg") no-repeat center;
          background-size: 16px 16px;
        }
      }
      a {
        font-size: 1.1875rem;
        line-height: 26px;
        text-align: center;
        padding: 1.25rem 0;
        background: #000;
        color: #fff;
      }
    }
  }
}
